<section class="align-items-center bg-img bg-img-fixed" id="food-menu-section"
        style="background-image: url(img/homepage.jpg);">
    <div class="container">
        <div class="food-menu">
            <h1>
                <span class="primary-color">Update Item: </span> {{food.name}}
            </h1>
            <div class="crud-form">
                <form method="POST" action="/order/{{food._id}}?_method=PUT">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" value="{{food.name}}" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Type</label>
                        <input type="text" class="form-control" value="{{food.type}}" id="type" name="type">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" value="{{food.description}}" id="description" name="description">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" value="{{food.price}}" id="price" name="price">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" class="form-control" value="{{food.image}}" id="image" name="image">
                    </div>
                    <div class="mb-3">
                        <label for="code" class="form-label">Code</label>
                        <input type="text" class="form-control" value="{{food.code}}" id="code" name="code">
                    </div>
                    <input type="submit" value="Update" id="submit-button">
                </form>
            </div>
        </div>
    </div>
</section>